<%= render "shared/second-header"%>

<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">レシピの情報を入力</h2>
    <%= form_with(model: @recipe, local: true) do |f| %>
    
    <%= render 'shared/error_messages', model: f.object %>
    <%# レシピ名 %>
    <div class="recipe-name-contents">
      <div class="weight-bold-text">
        レシピ名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :recipe_name, class:"recipe-name-text", id:"recipe-name", placeholder:"レシピ名（20文字まで)", maxlength:"20" %>
    </div>
    <%# /レシピ名 %>

    <%# レシピ画像 %>
      <div class="img-upload">
        <div class="weight-bold-text">
          レシピ画像
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= f.file_field :image, id:"item-image" %>
        </div>
      </div>
     <%# /レシピ画像 %>    

    <div class="recipe-contents">
      <%# 材料 %>
      <div class="ingredients">
        <div class="weight-bold-text">
          材料・調味料 / 分量
          <span class="indispensable">必須</span>
        </div>
          <%= f.text_area :ingredients,  class:"ingredients-contents", id:"ingredients", placeholder:"材料・調味料 / 分量" %>
      </div>
      <%# /材料 %>
      <%# 栄養素 %>
      <div class="nutrition">
        <div class="weight-bold-text">
        栄養バランス
        </div>
        <%= f.text_area :nutrition,  class:"nutrition-contents", id:"nutrition", placeholder:"タンパク質 / 〇〇 g" %>
      </div>
    </div>

    <%# 作り方 %>
    <div class="new-recipe">
      <div class="recipe-explain">
        <div class="weight-bold-text">
          作り方
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :cooking_method, class:"recipe-text", id:"item-info", placeholder:"調理方法（必須 1,000文字まで)" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /作り方 %>

    <%# 調理時間 %>
    <div class="items-detail">
      <div class="weight-bold-text">
        <div class="form">
          調理時間
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:cooking_time_id, CookingTime.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
      </div>
    </div>
    <%# /調理時間 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "更新" ,class:"sell-btn" %>
      <%= link_to 'もどる', recipe_path(@recipe.id), class:"back-btn" %>
    </div>
    <%# /下部ボタン %>

  </div>
  <% end %>

  <footer class="items-sell-footer">
    <p class="inc">
      ©︎BulkUp,Inc.
    </p>
  </footer>
</div>