<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('bulkup-logo-white.png', size: '185x50'), "/" %>

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">レシピの情報を入力</h2>
    <%= form_with(model: @recipe, local: true) do |f| %>

    <%#= render 'shared/error_messages', model: f.object %>

    <%# レシピ画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        レシピ画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /レシピ画像 %>
    <%# レシピ名とレシピ説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        レシピ名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :recipe_name, class:"items-text", id:"item-name", placeholder:"レシピ名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          作り方
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :cooking_method, class:"items-text", id:"item-info", placeholder:"調理方法（必須 1,000文字まで)" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /レシピ名と作り方説明 %>

    <%# 材料 %>
    <div class="items-detail">
      <div class="weight-bold-text">
        <div class="form">
          材料
          <span class="indispensable">必須</span>
        </div>
        <div class="">
          材料・調味料
        </div>
        <%= f.text_field :ingredients,  class:"", id:"", placeholder:"" %>
        <div class="">
          分量
        </div>
        <%= f.text_field :food_weight, class:"", id:"", placeholder:"" %>
      </div>
    </div>
    <%# /材料 %>

    <%# 調理時間 %>
    <div class="items-detail">
      <div class="weight-bold-text">
        <div class="form">
          調理時間
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:cooking_time_id, CookingTime.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
      </div>
    </div>
    <%# /調理時間 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">BulkUp利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <p class="inc">
      ©︎BulkUp,Inc.
    </p>
  </footer>
</div>