<%= render "shared/third-header"%>

<%# レシピの概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @recipe.recipe_name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @recipe.image,class:"item-box-img" %>
    </div>

    <%if user_signed_in?%>
      <%if current_user == @recipe.user%>
        <%= link_to "レシピの編集", edit_recipe_path, method: :get, class: "recipe-edit-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", recipe_path, method: :delete, data: {confirm: "削除しますか？"} class:"recipe-destroy" %>
      <% end %>
    <% end %>

    <div class="recipe-ingredients-box">
      <div class="recipe-stuff-box">
        <h2 class="name-box">材料・調味料</h2>
        <%= @recipe.ingredients %>
      </div>

      <div class="recipe-nutrition-box">
        <h2 class="name-box">栄養バランス</h2>
        <%= @recipe.nutrition %>
      </div>
    </div>

    <div class="recipe-cooking-box">
      <h2 class="name-box">作り方</h2>
      <%= @recipe.cooking_method %>
    </div>

    <div class="recipe-time-box">
      <h2 class="name-box">調理時間</h2>
      <%= @recipe.cooking_time.name%>
    </div>

    <div class="option">
      <div class="favorite-btn">
        <%= link_to recipe_ image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>
  <%# /レシピの概要 %>

  <div class="comment-box">
    <% if user_signed_in? %>
      <%= form_with(model: [@recipe, @message], local: true) do |f| %>
        <%= f.text_field :text, class:"comment-text" %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
        </p>
        <%= f.submit 'コメントする', class:"comment-btn" %>
      <% end %>
    <% else %>
      <strong><p>*** コメントの投稿には新規登録/ログインが必要です ***</p></strong>
    <% end %>
  </div>
  <div id='messages'>
    <% @messages.reverse_each do |message| %>
      <p><%= message.text %></p>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
