<%# CSS・・・assets/stylesheets/shared/header.css %>
<%= javascript_pack_tag 'shared/application' %>
<header class='top-page-header'>
  <div class='right-nav-box'>
    <div class='top-logo-image'>
      <%= link_to image_tag("bulkup-logo-white.png", class:"bulkup-icon", size: '72x72'), "/" %>
    </div>
    <div class='search-bar-contents'>
      <%= search_form_for @p, url: search_recipes_path do |f| %>
        <%= f.search_field :ingredients_cont, placeholder: "材料名", class:"search-ingredients" %>
        <%= f.collection_select :cooking_time_id_eq, CookingTime.all, :id, :name, include_blank: "調理時間", class: "search-cookingtime" %>
        <%= f.submit 'search', class: "search-btn" %>
      <% end %>
    </div>
  </div>
  <div class="login-bar">
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li class="user-nickname", id="lists"><%= "#{current_user.nickname}"%> </li>
            <ul class='show-lists hidden' id="pull-down">
              <li><%= link_to '栄養素管理', "/users/#{current_user.id}", class: "charts" %><li>
            </ul>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-btn" %></li>
      <% else %>
        <li><%= link_to 'Log in', new_user_session_path, class: "nav-btn" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "nav-btn" %></li>
      <% end %>
    </ul>
  </div>
</header>