<%= render "shared/second-header"%>
  <div class="charts-form-sell">
    <div class="charts-form-main ">
      <div class="charts-form-name">
        摂取栄養素
      </div>
      <div class="charts-form-box">
        <%= form_with(model: @chart, local: true) do |f| %>

            <%= render 'shared/error_messages', model: f.object %>
            
          <div class="feild">
            <div class="feild-left">
              <%= f.label :chart_date, "日付", class: "chart-name" %>
            </div>
            <div class="feild-right">
              <%= f.date_field :chart_date, class: "chart-input"%>
            </div>
          </div>

          <div class="feild">
            <div class="feild-left">
              <%= f.label :weight, "今日の体重", class: "chart-name" %>
            </div>
            <div class="feild-right">
              <%= f.number_field :weight, step: '0.1', class: "chart-input"%>
              <p> kg </p>
            </div>
          </div>

          <div class="feild">
            <div class="feild-left">
              <%= f.label :calorie, "総カロリー:", class: "chart-name" %>
            </div>
            <div class="feild-right">
              <%= f.number_field :calorie, step: '0.1', class: "chart-input"%>
              <p> kcal </p>
            </div>
          </div>

          <div class='feild'>
            <div class="feild-left">
              <%= f.label :protein, "タンパク質:", class: "chart-name" %>
            </div>
            <div class="feild-right">
              <%= f.number_field :protein, step: '0.1', class: "chart-input" %>
              <p> g </p>
            </div>
          </div>

          <div class='feild'>
            <div class="feild-left">
              <%= f.label :lipid, "脂質:", class: "chart-name" %>
            </div>
            <div class="feild-right">
              <%= f.number_field :lipid, step: '0.1', class: "chart-input" %>
              <p> g </p>
            </div>
          </div>

          <div class='feild'>
            <div class="feild-left">
              <%= f.label :carbohydorate, "炭水化物:", class: "chart-name"%>
            </div>
            <div class="feild-right">
              <%= f.number_field :carbohydorate, step: '0.1', class: "chart-input" %>
              <p> g </p>
            </div>
          </div>

          <div class='feild'>
            <div class="feild-left">
              <%= f.label :vitamin_B1, "ビタミンB1:", class: "chart-name" %>
            </div>
            <div class="feild-right">
              <%= f.number_field :vitamin_B1, step:'0.1', class: "chart-input" %>
              <p> mg </p>
            </div>
          </div>

          <div class='feild'>
            <div class="feild-left">
              <%= f.label :vitamin_B2, "ビタミンB2:", class: "chart-name" %>
            </div>
            <div class="feild-right">
              <%= f.number_field :vitamin_B2, step:'0.1', class: "chart-input" %>
              <p> mg </p>
            </div>
          </div>

          <div class='feild'>
            <div class="feild-left">
              <%= f.label :vitamin_B6, "ビタミンB6:", class: "chart-name" %>
            </div>
            <div class="feild-right">
              <%= f.number_field :vitamin_B6, step:'0.1', class: "chart-input" %>
              <p> mg </p>
            </div>
          </div>

          <div class='feild'>
            <div class="feild-left">
              <%= f.label :vitamin_D, "ビタミンD:", class: "chart-name" %>
            </div>
            <div class="feild-right">
              <%= f.number_field :vitamin_D, step:'0.1', class: "chart-input" %>
              <p> μg </p>
            </div>
          </div>

          <div class='feild'>
            <div class="feild-left">
              <%= f.label :vitamin_C, "ビタミンC:", class: "chart-name" %>
            </div>
            <div class="feild-right">
              <%= f.number_field :vitamin_C, step: '0.1', class: "chart-input" %>
              <p> mg </p>
            </div>
          </div>
        </div>

          <div class='chart-submit-box'>
            <%= f.submit "更新", class: "chart-submit-btn" %>
          </div>
        <% end %>
    </div>
  </div>

<%= render "shared/second-footer"%>